server{
    listen 4000
    root /var/www/site1
    index index.html
    server_name example.com
    missing_content_type reject
    location /{
        root /var/www/site1
    }
}

server{
    listen 5000
    root /var/www/site2
    index index.php
    server_name api.example.com
    missing_content_type default application/json
    location /upload{
        upload_dir /tmp/uploads
        missing_content_type default application/octet-stream
    }
    location /{
        root /var/www/site2
    }
}
